<html lang="en">
<head>
    <title>Document</title>
	<style>
		a {
			font-size: 50px;
			text-decoration: none;
			border: 1px solid black;
			border-radius: 25px;
			color: white;
			background-color: black;
		}
	</style>
</head>
<body>
		{% if error_msg is defined and error_msg != None %}
			<p>{{error_msg}}</p>
		{% endif %}
		<a href="/temperature_up">+</a>
		<a href="/temperature_down">-</a>
		<p>Temperature value: {{ temperature }}</p>
		<br><br>
		<a href="/water_temperature_up">+</a>
		<a href="/water_temperature_down">-</a>
		<p>Water temperature value: {{ water}}</p>
</body>
</html>